html {
    background: url(../images/background1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.prof-box {
    width: 800px;
    height: 1500px; 
    background: rgba(0,0,0,0.4);
    padding: 40px;
    color: goldenrod;
    margin: 0 auto;
    margin-top: 140px;
    text-align: center;
}

.prof-pic {
    align: center;
    height: 200px;
    width: 200px;
    
    border-radius: 50%;

}

.line-break {
    width: 400px;
    margin: 0 auto;
    border-top: 1px solid rgb(238, 209, 48);
}

.per-data {
    text-align: left;
    font-style: initial
    
    
}

.schol-data {
    text-align: left;
    font-style: initial;
    line-height: 8px;
}